@import 'vars';

header {
    position: relative;

    font-family: sans-serif;
    & h1{font-family: 'Fredoka One';}

    & h2{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    display: flex;
    justify-content: space-between;

    & i{
        font-size: 1.5rem;
    }
}
